<%= link_to 'Create a List', new_list_path(@list) %>

<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <%= cl_image_tag("qij0shwazjlujpstdivz", alt: "image_test", width: 500, height: 600 %>
    <h3 class="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to 'Create a movie list', new_list_path, class: 'btn btn-flat' %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 colsm-6 col-md-4">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://numero.twic.pics/2020-10/a-bout-de-souffle-jean-luc-godard-jean-paul-belmondo-jean-seberg-tournage-nouvelle-vague-truffaut-chabrol-push-numero-magazine.jpg?twic=v1/cover=16:10/resize=1500)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>